<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Converter Dólar para Reais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
    label="Primeiro Número" [(ngModel)]="num"
    labelPlacement="floating"
    type="number"
    placeholder="Digite o valor em dólar ($)">
    </ion-input>
  </ion-item>

  <ion-button
  expand="block" (click)="converter()">converter
</ion-button>

  <ion-label>
    {{res}}
  </ion-label>
</ion-content>
